.container {
  display: flex;
  flex-grow: 50;
  min-height: 4rem;
  width: auto;
  margin: 0.8rem 1.2rem;
  border: 1px solid var(--med-grey);
  border-radius: 0.2rem;
  box-shadow: 0.5rem 0.5rem 0.8rem var(--shadow);
  background-color: var(--dark-grey);
  color: var(--light-light-grey);
}

.buttons {
  width: 2rem;
  margin: 0;
  border: 0;
  border-radius: 0.2rem;
  padding: 0;
  background-color: var(--dark-grey);
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 900;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: auto;
  margin: 0;
  border: 0;
  padding: 0;
  background-color: var(--dark-grey);
  color: #ffffff;
}
