.headerNav {
  position: absolute;
}

.navButton {
  display: flex;
  grid-column-start: 1;
  grid-row-start: 1;
  height: 2rem;
  width: 2rem;
  margin: 0.3rem 0 0 0.3rem;
  padding: 0;
  border: 0;
  z-index: 1;
  background-color: var(--green);
}

.hamburgerImage {
  display: flex;
  grid-column-start: 1;
  grid-row-start: 1;
  height: 2rem;
  width: 2rem;
  z-index: 1;
}

.navSlider {
  display: flex;
  height: 5rem;
  margin-left: -14rem;
  grid-column-start: 1;
  grid-row: 1;
  transition: all 0.8s;
  transition-timing-function: cubic-bezier(0.25, 1.13, 0.6, 1.21);
  /*0.15, 1.19, 1, 1.16*/
}

.navItems {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-around;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: var(--dark-grey);
}

.navItem {
  display: flex;
  margin: 0;
  padding: 0 0 0 2.4rem;
  border-top: 0.15rem solid #3c3c3c;
  border-right: 0.15rem solid #3c3c3c;
  background-color: var(--dark-grey);
}

.navItem:last-child {
  border-bottom: 0.15rem solid #3c3c3c;
}

.navItem a {
  display: flex;
  width: 8rem;
  margin: 0;
  padding: 0.6rem;
  border-radius: 0.1rem;
  box-sizing: border-box;
  text-decoration: none;
  background-color: var(--dark-grey);
  color: #ffffff;
}
